*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    font-size: 24px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px 15px;
    color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-align: center;
}

header {
    background-color: rgb(0, 0, 0);
}

/* header */
.menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo-second {
    font-size: 18px;
}

.menu {
    display: flex;
    height: 100px;
    align-items: center;
}

.menu-item {
    margin: 0px 20px;
}

.menu-item:hover {
    color: rgb(32, 168, 136);
}

.color {
    color: rgb(32, 168, 136);
    font-weight: bold;
}

/* end header */

/* main page */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-left,
.col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.col-left img,
.col-right img {
    max-width: 100%;
    height: auto;
}

.col-left h2,
.col-right h2 {
    color: #3b3a3a;
    font-size: 36px;
    margin-bottom: 20px;
}

.col-left p,
.col-right p {
    color: #3b3a3a;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    width: 90%;
}

/* end main page */

/* contact */
.contact-info h2 {
    color: #3b3a3a;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    margin: 30px 0px;
}

.contact-info p {
    color: #3b3a3a;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.address h3,
.phone h3,
.email h3,
.social h3 {
    color: #3b3a3a;
    font-size: 32px;
    margin: 25px 0px;
    text-align: center;
}

.address p,
.phone p,
.email p,
.social ul {
    color: #3b3a3a;
    font-size: 24px;
    line-height: 1.5;
}

.social li {
    text-align: center;
}

/* end contact */

/* courses */
h1.courses {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 50px 0px;
}

.courses ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses li {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.courses h2 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.courses h3 {
    font-size: 24px;
    margin: 10px 0px 5px 0px;
}

.courses p {
    font-size: 20px;
    margin-top: 0px;
    line-height: 1.2;
}

/* end courses */

/* costs */
h1.costs {
    padding: 50px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table .center {
    text-align: center;
}

thead {
    background-color: #f5f5f5;
}

th {
    padding: 20px;
    font-weight: bold;
    font-size: 28px;
}

td {
    padding: 10px;
}

td h3 {
    margin-top: 0;
}

td p {
    margin-bottom: 0;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

tbody td {
    border-bottom: 1px solid #ccc;
}

/* end costs */

/* footer */
footer {
    text-align: center;
    padding: 30px 0px;
    color: white;
    background-color: black;
}

/* end footer */