{% extends "layout.html" %}

{% block content %}
    <div class="container contacts">
        <div>
            <h1>Наша адреса:</h1>
            <p>Поштова адреса: вул. Хрещатик, 1, м. Київ, 01001, Україна</p>
            <p>Фактична адреса: вул. Володимирська, 101, м. Київ, 01033, Україна</p>
        </div>
        <div>
            <h1>Зв'яжіться з нами:</h1>
            <p>Телефон для довідок: +380 44 123 45 67</p>
            <p>E-mail: info@promin.ua</p>
            <p>Сайт: www.promin.ua</p>
        </div>
        <div>
            <h1>Ми у соцмережах:</h1>
            <p><a href="www.facebook.com/promin.ua">Facebook</a></p>
            <p><a href="t.me/promin_ua">Telegram</a></p>
        </div>
        <div>
            <h1>Додаткова інформація:</h1>
            <p>- У нас є зручний онлайн-розклад автобусів на нашому сайті.</p>
            <p>- Для наших клієнтів є можливість замовити квитки онлайн і отримати знижку 5%.</p>
            <p>- На автостанції працює кафе зі смачною їжею та напоями.</p>
            <p>- Ми забезпечуємо комфортний перевізник та дотримуємось високих стандартів безпеки під час подорожі.</p>
        </div>
    </div>
{% endblock content %}