{% extends "index.html" %}

{% block content %}
    <div class="contact-info container">
      <h2>Зв'яжіться з нами</h2>
      <p>Якщо у вас виникли запитання або ви хочете дізнатися більше про наші технічні програми, зв’яжіться з нами за телефоном, електронною поштою, або особисто. Ми завжди раді допомогти.</p>
      <div class="address">
        <h3>Адреса:</h3>
        <p>Україна, 03056, м.Київ-56, Берестейський проспект, 76</p>
      </div>
      <div class="phone">
        <h3>Телефон:</h3>
        <p>+1 (555) 123-4567</p>
      </div>
      <div class="email">
        <h3>Пошта:</h3>
        <p>info@techcollege.edu</p>
      </div>
      <div class="social">
        <h3>Соц. мережі:</h3>
        <ul>
          <li><a href="https://www.facebook.com/TechCollege">Facebook</a></li>
          <li><a href="https://t.me/TechCollege">Telegram</a></li>
        </ul>
      </div>
    </div>
{% endblock content %}