{% extends "index.html" %}

{% block content %}
    <div class="row">
      <div class="col-left">
        <h2>Ласкаво просимо до ТехКол!</h2>
        <p>Ми пропонуємо якісну технічну освіту в різних сферах. Наші досвідчені викладачі та експерти галузі надають студентам знання та практичні навички, необхідні для успішної кар'єри.</p>
      </div>
      <div class="col-right">
        <img src="../static/img/college-buiding.jpg" alt="Tech College Building">
      </div>
    </div>
    <div class="row">
      <div class="col-left">
        <img src="../static/img/students.jpg" alt="Tech College Students">
      </div>
      <div class="col-right">
        <h2>Приєднуйся!</h2>
        <p>У ТехКол ми віримо, що навчання є процесом співпраці. Наші студенти, маючи різний досвід, працюють разом для досягнення своїх цілей. Приєднуйтесь до нашої спільноти та дізнайтеся, чого ви можете досягти, отримавши освіту в технічному коледжі.</p>
      </div>
    </div>
{% endblock content %}
