{% extends "layout.html" %}

{% block content %}
    <div class="container main">
        <h1>Промінь - твій швидкий та зручний перехідник до будь-якої точки!</h1>
        <p>Компанія "Промінь" - це надійний транспортний партнер, який забезпечує швидке та зручне пересування по місту та регіону. Наша районна автостанція має сучасний автопарк, професійних водіїв та високий рівень обслуговування пасажирів. Ми пропонуємо широкий вибір рейсів, які регулярно оновлюються, щоб задовольнити потреби наших клієнтів. Ми прагнемо забезпечити максимальний комфорт та безпеку нашим пасажирам, тому ми використовуємо тільки сучасні технології та стандарти безпеки. Обирайте "Промінь" і відчуйте перевагу швидкого та зручного пересування з нами.</p>
    </div>
{% endblock content %}
